<div class="footer">
    &copy; 2021 | CeaserCipher | Devanshu Yadav
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js "></script>
<script src="ceaserCipher.js "></script>
</body>

</html>